.contact {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 500px;
  border: 1px #000000 solid;
}

.title {
  display: flex;
  height: 128px;
}

.picture {
  height: 128px;
  width: 128px;
  background-image: url('http://placehold.it/128x128');
}

.name {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description {
  flex: 1;
  text-align: left;
}

.footer {
  text-align: right;
}
